# General
**/.Xil/
**/*.o
**/*.jou
**/*.log

# BuildRoot

# PetaLinux
PetaLinux/*/*/config.old
PetaLinux/*/*/rootfs_config.old
PetaLinux/build/
PetaLinux/images/linux/
PetaLinux/pre-built/linux/
PetaLinux/.petalinux/*
!PetaLinux/.petalinux/metadata
PetaLinux/components/plnx_workspace
PetaLinux/components/yocto/*

# Vivado
Vivado/WorkingDir/*
!Vivado/WorkingDir/.gitkeep
